@font-face {
  font-family: "Martel";
  src: url("./Fonts/Martel.woff2") format("woff2"),
    url("./Fonts/Martel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alice in Wonderland";
  src: url("./Fonts/AliceinWonderland.woff2") format("woff2"),
    url("./Fonts/AliceinWonderland.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
